.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 90%;
}

md-calendar {
  width: 300px;
}


.example-events {
  width: 400px;
  height: 200px;
  border: 1px solid #555;
  overflow: auto;
}
